production:
  adapter: mysql2
  username: root
  database: dmht_test
  password: password
  host: localhost
  pool: 500

development:
  adapter: mysql2
  username: root
  database: dmht_test
  password: password
  host: localhost
  pool: 500

test: &TEST
  adapter: mysql
  database: root
  username: bart2_db
  password: your_password
  host: localhost

cucumber:
  <<: *TEST
