#production:
  #adapter: mysql2
  #username: root
  #database: dm_development
  #password: password
  #host: localhost
  #pool: 500

development:
  adapter: mysql2
  username: root
  database: dm_development
  password: password
  host: localhost
  pool: 500

test: &TEST
  adapter: mysql
  database: root
  username: dm_development
  password: your_password
  host: localhost

cucumber:
  <<: *TEST
