<html>
  <head>
    <title>Patient Dashboard</title>
    <script type="text/javascript" language="javascript"
    src="/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer  ></script>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
    <script language="javascript">
      tstUsername = "";
      tstCurrentDate = "<%= @date %>";
      //tt_cancel_destination = '/clinic';
      tt_cancel_show = '/clinic';
    </script>
  </head>
  <body><div id='content'>
      <div id='description' style='color:#777;position:absolute;margin-top:-70px;'></div><center>
        <form id = 'dashboard' action='/clinic'>
          <table cellpadding=10>
            <tr>
              <th colspan=2>Patient Dashboard</th>
            </tr>

            <h1 id='project_name'>
				<div id="custom_banner" path="/patients/dashboard_graph?id=<%= @patient.id %>"></div>
                  DM
            </h1>
            <span id='patient_name'><%= @patient_bean.name  %></span>
            <span id='patient_id'><%= @patient_bean.national_id_with_dashes %></span>
            <span id='patient_residence'><%= @patient_bean.address %></span>
            <span id='patient_age'><%= @patient_bean.age %></span>
            <span id='patient_gender'><%= @patient_bean.sex %></span>

            <div id="patient_card">
               <span value="<%= @diabetes_number %>">DC Number</span>
               <span value="<%= @current_updated_outcome %>">Outcome</span>
            </div>
            <select id="tabs">
              <option value='/patients/overview?patient_id=<%= @patient.id %>'>Overview</option>
              <option value='/patients/visit_history?patient_id=<%= @patient.id %>'>Current Visit</option>
              <option value='/patients/past_visits_summary?patient_id=<%= @patient.id %>'>Past Visits</option>
              <option value="/patients/hiv?patient_id=<%= @patient.id -%>"
              <%= (@hivHighlight ? " selectedTab='true'" : "") %> >HIV Status</option>
              <option value="/patients/recent_screen_complications?patient_id=<%= @patient.id -%>"
              <%= (@highlight ? " selectedTab='true'" : "") %> >Recent Complications</option>
              <option value="/patients/diabetes_treatments?patient_id=<%= @patient.id -%>">Current Medication</option>
              <option value="/patients/important_medical_history?patient_id=<%= @patient.id -%>">Medical History</option>
              <option value="/patients/patient_medical_history?patient_id=<%= @patient.id -%>">Patient Medical History</option>
              <option value='/patients/personal/<%= @patient.id -%>'>Printouts/Other</option>
            </select>
            <% if @patient.person.dead == 1%>
              <select id="links">
                <option value='/patients/programs_dashboard/<%= @patient.id -%>'>Outcomes</option>
              </select>
              <select id="navigation_links">
                <option link="/patients/mastercard_menu?patient_id=<%= @patient.id -%>&source=<%= @source -%>">Mastercard</option>
                <option link='<%= ((session[:datetime].to_date rescue '') != '' ?
                            "/people/reset_datetime/#{@patient.id}" : "/people/set_datetime/#{@patient.id}") %>'  ttSize="160px">
                  <%= ((session[:datetime].to_date rescue '') != '' ? "Reset Date" : "Set Date") %></option>
                </select>
             <% else %>
                <select id="links">
                  <option value='/patients/treatment_dashboard?patient_id=<%= @patient.id -%>'>Treatment</option>
				  <option value='/patients/generate_booking?patient_id=<%= @patient.id -%>'>Bookings</option>
                  <!--%if User.current_user.activities.include?('Manage Patient Programs')%-->
                    <option value='/patients/programs_dashboard/<%= @patient.id -%>'>Outcomes</option>
                  <!--%end%-->
                  <!-- option value='/patients/print_visit?patient_id=<%= @patient.id -%>'>Print Visit</option -->
										<option value='/patients/complications?patient_id=<%= @patient.id -%>'>Complications</option>
										<!-- option value='/encounters/new/first_time_visit_questions?patient_id=<%= @patient.id -%>'>Medical history</option -->
                </select>
                <select id="navigation_links">
                    <option link="/encounter_types?patient_id=<%= @patient.id -%>" ttSize = "160px">Tasks</option>
					<option link='/patients/edit_demographics?patient_id=<%= @patient.id -%>'>Edit Demographics</option>
                    <!-- option link="/patients/mastercard?patient_id=<%= @patient.id -%>">Complications</option -->
                  <% if show_lab_results %>
                    <option link="/lab/results/<%=@patient.id -%>">Lab results</option>
                  <%end%>
                    <option link='<%= ((session[:datetime].to_date rescue '') != '' ?
                          "/people/reset_datetime/#{@patient.id}" : "/people/set_datetime/#{@patient.id}") %>'  ttSize="160px">
                     <%= ((session[:datetime].to_date rescue '') != '' ? "Reset Date" : "Set Date") %></option>
                </select>
             <% end %>
            <tr>
              <td align='center'>
                <input type='submit' value='Finish' />
              </td>
            </tr>
          </table>
        </form>
      </center>
    </div>
  </body>
</html>
